*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.type{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background: linear-gradient(rgba(0, 0, 0,0), rgba(0, 0, 0,0)),url("./7309906_3580293.jpg") center/cover no-repeat;
}
.option{
    width: 20rem;
    height: 20rem;
    background:linear-gradient(135deg rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.option .icon{
    border-radius: 50%;
    height: 100px;
}
.option a img{
    height: 20px;
}
.option a{
    display: flex;
    gap: 5px;
    background-color: #BD1877;
    text-decoration: none;
    padding: 5px;
    color: #FFCBE6;
    border-radius: 5px;
}