{% extends "base.html"%}
{% block content %}
<!-- <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="active" aria-current="true"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Example headline.</h1>
            <p class="opacity-75">Some representative placeholder content for the first slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Some representative placeholder content for the second slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>Some representative placeholder content for the third slide of this carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->
  <!-- Slider main container -->
  <div class="tools">
    <h2>Powered By</h2>
    <div class="items">
      <div>
        <img src="../static/download.jpeg" alt="">
      <p>GPT 4</p>
      </div>
      <div>
        <img src="../static/claude-ai-icon.jpg" alt="">
      <p>Claude</p>
      </div>
      <div>
        <img src="../static/claude-ai-icon.jpg" alt="">
      <p>Claude 100k</p>
      </div>
      <div>
        <img src="../static/download.jpeg" alt="">
      <p>Llama 2</p>
      </div>
      <div>
        <img src="../static//openai-icon-505x512-pr6amibw.png" alt="">
      <p>OpenAi Key</p>
      </div>
    </div>
  </div>
  <h1>Your All-in-One AI assistant </h1>
  <div class="slider-container">
    <div class="slider">
      <span style="--i:1"><div class="services"><h2><a href="/chatbot">Chatbot</a></h2><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, hic!</p></div></span>
      <span style="--i:2"><div class="services"><h2>Services</h2><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, hic!</p></div></span>
      <span style="--i:3"><div class="services"><h2>Services</h2><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, hic!</p></div></span>
      <span style="--i:4"><div class="services"><h2>Services</h2><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, hic!</p></div></span>
    </div>
  </div>
  <h2>Testimonials</h2>
  <div class="dialog-container">
      <div class="chat-container one">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat autem obcaecati modi voluptas deleniti at! Eos laudantium corporis perspiciatis quae sit optio sapiente, quis modi asperiores facere. Corporis, eligendi a!</p><p><img src="https://picsum.photos/id/64/60/60" alt=""> &nbsp;-  Jane Doe, XYZ Inc</p>
      </div>
      <div class="chat-container two">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat autem obcaecati modi voluptas deleniti at! Eos laudantium corporis perspiciatis quae sit optio sapiente, quis modi asperiores facere. Corporis, eligendi a!</p><p><img src="https://picsum.photos/id/64/60/60" alt=""> &nbsp;-  Jane Doe, XYZ Inc</p>
      </div>
  </div>
  <div class="dialog-container">
    <div class="chat-container three">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat autem obcaecati modi voluptas deleniti at! Eos laudantium corporis perspiciatis quae sit optio sapiente, quis modi asperiores facere. Corporis, eligendi a!</p><p><img src="https://picsum.photos/id/64/60/60" alt=""> &nbsp;-  Jane Doe, XYZ Inc</p>
    </div>
    <div class="chat-container four">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat autem obcaecati modi voluptas deleniti at! Eos laudantium corporis perspiciatis quae sit optio sapiente, quis modi asperiores facere. Corporis, eligendi a!</p><p><img src="https://picsum.photos/id/64/60/60" alt=""> &nbsp;-  Jane Doe, XYZ Inc</p>
    </div>
</div>
{% endblock %}