<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legal Chatbot</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="chat-container">
        <form action="/login" method="post" class="login">
            <h2>Login</h2>
            <input type="text" id="username" name="username" placeholder="Enter Username">
            <input type="email" id="email" name="email" placeholder="Enter Email">
            <input type="password" id="password" name="password" placeholder="Enter Password">
            <div>
                <input class="button" type="submit" value="Submit">
                <a href="/user/register">Register here <img src="../static/chevron-right.145x256.png" alt="" /></a>
            </div>
        </form>
    </div>
</body>
</html>
