{% extends "base.html"%}
    {% block content %}
    <!-- {%if deadline%}
    <p>{{deadline}}</p>
    {%endif%} -->
    <div class="list-group">
        
            {% for task in ttasks%}
            <label class="list-group-item d-flex gap-3">
              <form action="/delete" method="post">
                <input class="form-check-input flex-shrink-0" onchange="this.form.submit()" type="checkbox" value="{{task['iCalUID']}}" style="font-size: 1.375em;" name="del">
              </form>
                <span class="pt-1 form-checked-content">
                  <strong>{{task['description']}}</strong>
                  <small class="d-block text-body-secondary">
                    <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#calendar-event"></use></svg>
                    <p>Deadline is - </p><time> {{task['end']['dateTime']}}</time>
                  </small>
                </span>
              </label>
            {% endfor %}
        <label class="list-group-item d-flex gap-3 bg-body-tertiary">
          <form action="#" method="post">
            <input type="text" name="newtask">
            <input type="datetime-local" name="deadline">
            <input type="submit">
          </form>
        </label>
      </div>
    {% endblock %}
