<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/type.css">
</head>
<body>
    <div class="type">
        <div class="option">
            <img src="https://picsum.photos/id/237/100/100" alt="" class="icon">
            <a href="/user/register">User<img src="../static/shape_box_direction_Arrow_right_upper_chevron-512.jpg" alt=""></a>
        </div>
        <div class="option">
            <img src="https://picsum.photos/id/237/100/100" alt="" class="icon">
            <a href="/mentor/register">Mentor<img src="../static/shape_box_direction_Arrow_right_upper_chevron-512.jpg" alt=""></a>
        </div>
    </div>
</body>
</html>